.note_section {
  font-family: "Manrope", sans-serif;
  margin: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  width: 75vw;
}
.note_empty {
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: 3em;
  margin-top: 2.5em;
}
